@model Template.Web.Features.Task.TaskViewModel

@{
    ViewData["Title"] = Model.Id != null
        ? "Modifica Task - " + Model.Titolo
        : "Creazione Nuovo Task";
}

@section pageTitle {
    <nav class="navbar navbar-expand navbar-light flex-wrap ms-3">
        <div class="navbar-brand text-truncate">
            @ViewData["Title"]
        </div>
        @if (Model.Id != null)
        {
            <div class="dropdown ms-auto">
                <button class="btn btn-light ms-2" type="button" id="dropdownMenuAzioni" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Altre azioni">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuAzioni">
                    <h6 class="dropdown-header">Azioni</h6>
                    <button class="dropdown-item text-danger" type="button" onclick="document.getElementById('delete-form').submit();">
                        <i class="fa-solid fa-trash"></i>&nbsp;Elimina
                    </button>
                    <form hidden autocomplete="off" id="delete-form" method="post" action="@Url.Action("Delete", "Task", new { area = "Features", id = Model.Id })">
                        <input type="hidden" asp-for="Id" />
                    </form>
                </div>
            </div>
        }
    </nav>
}

<div id="task-form">
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-8" style="margin: 0 auto;">
                <form autocomplete="off" method="post" class="onit-form-sm" action="@Url.Action("Edit", "Task", new { area = "Features", id = Model.Id })" id="edit-form">
                    <input id="edit-form-submitter" class="d-none" type="submit" />
                    <fieldset class="pb-3">
                        <legend class="info mt-4 mb-4">Dati del Task</legend> <!-- Spazio sotto il titolo -->
                        <!-- Titolo -->
                        <div class="form-group mb-3">
                            <label for="Titolo">Titolo</label>
                            <input v-model="task.Titolo" class="form-control form-control-sm" id="Titolo" />
                        </div>

                        <!-- Priorità -->
                        <div class="form-group mb-3">
                            <label for="Priorità">Priorità</label>
                            <select v-model="task.Priorità" class="form-control form-control-sm" id="Priorità">
                                <option value="Alta">Alta</option>
                                <option value="Media">Media</option>
                                <option value="Bassa">Bassa</option>
                            </select>
                        </div>

                        <!-- Tipologia -->
                        <div class="form-group mb-3">
                            <label for="Tipologia">Tipologia</label>
                            <select v-model="task.Tipologia" class="form-control form-control-sm" id="Tipologia">
                                <option value="Interna">Interna</option>
                                <option value="Esterna">Esterna</option>
                            </select>
                        </div>

                        <!-- Data di Creazione -->
                        <div class="form-group mb-3">
                            <label for="DataCreazione">Data di Creazione</label>
                            <input v-model="task.DataCreazione"
                                   :max="task.DataScadenza"
                                   type="date"
                                   class="form-control form-control-sm"
                                   id="DataCreazione" />
                        </div>

                        <!-- Data di Scadenza -->
                        <div class="form-group mb-3">
                            <label for="DataScadenza">Data di Scadenza</label>
                            <input v-model="task.DataScadenza"
                                   :min="task.DataCreazione"
                                   type="date"
                                   class="form-control form-control-sm"
                                   id="DataScadenza" />
                        </div>

                        <!-- Descrizione -->
                        <div class="form-group mb-3">
                            <label for="Descrizione">Descrizione</label>
                            <textarea v-model="task.Descrizione" class="form-control form-control-sm" id="Descrizione" rows="4"></textarea>
                        </div>

                        <!-- Pulsante Salva (posizionato sotto il titolo) -->
                        <div class="text-right mt-3">
                            <button type="button" class="btn btn-success px-4" onclick="document.getElementById('edit-form-submitter').click()">
                                <span class="d-inline d-sm-none"><i class="fa-solid fa-floppy-disk"></i></span>
                                <span class="d-none d-sm-inline"><i class="fa-solid fa-floppy-disk"></i>&nbsp;Salva</span>
                            </button>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="text-center">
        <div id="lostConnection" class="d-none text-white">
            <h3>Connessione persa</h3>
            <p><i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;Tentativo di riconnessione...</p>
        </div>
        <div id="lostConnectionManualRetry" class="d-none text-white">
            <h3>Impossibile riconnettersi</h3>
            <p>Ricarica la pagina manualmente</p>
            <button class="btn btn-primary" onclick="location.reload(true)"><i class="fa fa-refresh"></i>&nbsp;Ricarica</button>
        </div>
    </div>
</div>

@section scripts {
    <script src="/js/bundle-vue.js" asp-append-version="true"></script>
    <script src="~/Areas/Example/Tasks/Edit.js" asp-append-version="true"></script>

    @* <script src="~/node_modules/@microsoft/signalr/dist/browser/signalr.js" asp-append-version="true"></script> *@
    <script src="~/js/signalRConnectionManager.js" asp-append-version="true"></script>

    <script type="application/json" id="Seed_JSON">
        @* @Html.Raw(Model.ToJson()) *@
    </script>

    <script type="text/javascript">
        var signalRManager = new SignalRConnectionManager("/templateHub", "@Model.Id", "JoinGroup", "LeaveGroup");
        signalRManager.registerEvents();
        signalRManager.startConnection();

        var editModel = new Vue({
            el: '#task-form',
            data: {
                task: JSON.parse(document.getElementById("Seed_JSON").innerText),
                formSubmitted: false,
                dateError: false
            },
            methods: {
                submitForm: function () {
                    this.formSubmitted = true;
                    this.dateError = false;

                    const creazione = new Date(this.task.DataCreazione);
                    const scadenza = new Date(this.task.DataScadenza);

                    // Controlla se la data di creazione è dopo la scadenza
                    if (creazione > scadenza) {
                        this.dateError = true;
                        return;
                    }

                    if (this.task.Titolo && this.task.Priorità && this.task.Tipologia && this.task.Descrizione && this.task.DataScadenza && !this.dateError) {
                        document.getElementById('edit-form-submitter').click();
                    }
                }
            }
        });
    </script>
}
