@inject IHtmlLocalizer<Template.Web.SharedResource> SharedLocalizer
@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@{
    Layout = "_LayoutHtml";
    var version = System.Reflection.Assembly.GetAssembly(typeof(Startup)).GetName().Version;
    var identitaCorrente = (Template.Web.Areas.IdentitaViewModel)ViewData[Template.Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY];
}

@section metas {
    @RenderSection("metas", false)
}

@section styles {
    @RenderSection("styles", false)
}

<div id="pageId" class="onit-page mx-5 mt-3">
    <div class="onit-page-sticky-top" id="onit-page-sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark onit-page-menu">
            <div class="container-fluid">
                <!-- Logo -->
                <a class="navbar-brand" href="/">
                    <img class="onit-suites-logo" src="~/images/app-logo.png" />
                </a>

                <!-- Toggler -->
                <button class="navbar-toggler navbar-toggler-dark ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars text-black"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- DESKTOP MENU -->
                    <ul class="navbar-nav mx-auto d-none d-lg-flex">
                        
                    </ul>

                    <!-- MOBILE MENU -->
                    <ul class="navbar-nav w-50 d-lg-none mt-5">
                        
                    </ul>

                    <!-- USER SECTION -->
                    <ul class="navbar-nav ms-auto onit-page-menu-user">
                        @if (identitaCorrente != null)
                        {
                            <!-- Desktop dropdown con immagine -->
                            <li class="nav-item dropdown d-none d-lg-block">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="user-profile-picture" src="@identitaCorrente.GravatarUrl" />
                                </a>
                                <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                                    <a class="dropdown-item" href="javascript:void(0)" onclick="document.getElementById('POST_LogOut').submit()">
                                        <i class="fa-solid fa-right-from-bracket"></i>&nbsp;@SharedLocalizer["Esci"]
                                    </a>
                                    <form autocomplete="off" method="post" action="@Url.Action(MVC.Login.Logout())" id="POST_LogOut" style="display:none;"></form>
                                </div>
                            </li>

                            <!-- Mobile: pulsante uniforme -->
                            <li class="nav-item d-lg-none w-50">
                                <a class="btn btn-sm btn-dark w-50 text-start my-1" href="javascript:void(0)" onclick="document.getElementById('POST_LogOut').submit()">
                                    <i class="fa-solid fa-right-from-bracket"></i>&nbsp;@SharedLocalizer["Esci"]
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        @RenderSection("pageTitle", false)
    </div>

    @RenderSection("pageSubtitle", false)
    @RenderBody()
</div>

@section googlehead {
    @* Google Analytics (opzionale) *@
}

@section scripts {
    <script type="text/javascript">
        @this.RenderAlertsWithToastify()
    </script>
    @RenderSection("scripts", false)
}
