@inject IHtmlLocalizer<Template.Web.SharedResource> SharedLocalizer
@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@{
    Layout = "_LayoutHtml";
    var version = System.Reflection.Assembly.GetAssembly(typeof(Startup)).GetName().Version;
    var identitaCorrente = (Template.Web.Areas.IdentitaViewModel)ViewData[Template.Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY];

    var controller = ViewContext.RouteData.Values["controller"]?.ToString();
    var action = ViewContext.RouteData.Values["action"]?.ToString();
    var isVisiblePage = (controller?.Equals("Task", StringComparison.OrdinalIgnoreCase) == true && action?.Equals("Task", StringComparison.OrdinalIgnoreCase) == true)
                     || (controller?.Equals("Dettagli", StringComparison.OrdinalIgnoreCase) == true && action?.Equals("Dettagli", StringComparison.OrdinalIgnoreCase) == true)
                     || (controller?.Equals("Storico", StringComparison.OrdinalIgnoreCase) == true && action?.Equals("Storico", StringComparison.OrdinalIgnoreCase) == true)
                     || (controller?.Equals("Disponibili", StringComparison.OrdinalIgnoreCase) == true && action?.Equals("Disponibili", StringComparison.OrdinalIgnoreCase) == true);

    var showBackButton = isVisiblePage
                      && !(controller?.Equals("Login", StringComparison.OrdinalIgnoreCase) == true && action?.Equals("Login", StringComparison.OrdinalIgnoreCase) == true)
                      && !(controller?.Equals("AreaPersonale", StringComparison.OrdinalIgnoreCase) == true && action?.Equals("AreaPersonale", StringComparison.OrdinalIgnoreCase) == true);
}

@section metas {
    @RenderSection("metas", false)
}

@section styles {
    @RenderSection("styles", false)
}

<div id="pageId" class="onit-page mx-5 mt-3">
    <div class="onit-page-sticky-top" id="onit-page-sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark onit-page-menu px-3 px-lg-4">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <!-- Logo -->
                    <a class="navbar-brand me-3" href="/">
                        <img class="onit-suites-logo" src="~/images/app-logo.png" alt="Logo" />
                    </a>

                    <!-- Toggler -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa-solid fa-bars fs-3 text-dark"></i>
                    </button>

                </div>

                <!-- Collapse content -->
                <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
                    <!-- USER SECTION -->
                    <ul class="navbar-nav ms-auto onit-page-menu-user">
                        @if (identitaCorrente != null)
                        {
                            <!-- Desktop dropdown con immagine -->
                            <li class="nav-item dropdown d-none d-lg-block">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="user-profile-picture" src="@identitaCorrente.GravatarUrl" />
                                </a>
                                <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                                    <a class="dropdown-item" href="javascript:void(0)" onclick="document.getElementById('POST_LogOut').submit()">
                                        <i class="fa-solid fa-right-from-bracket"></i>&nbsp;@SharedLocalizer["Esci"]
                                    </a>
                                    <form autocomplete="off" method="post" action="@Url.Action(MVC.Login.Logout())" id="POST_LogOut" style="display:none;"></form>
                                </div>
                            </li>

                            <!-- Mobile logout -->
                            <li class="nav-item d-lg-none w-100">
                                <a class="btn btn-sm btn-dark w-100 text-start my-1" href="javascript:void(0)" onclick="document.getElementById('POST_LogOut').submit()">
                                    <i class="fa-solid fa-right-from-bracket"></i>&nbsp;@SharedLocalizer["Esci"]
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Pulsante sotto il logo -->
        @if (showBackButton)
        {
            <div class="px-3 px-lg-4 pt-2 pb-2">
                <a class="btn btn-outline-dark" href="@Url.Action("AreaPersonale", "AreaPersonale")">
                    <i class="fa-solid fa-arrow-left me-1"></i> Torna all'Area Personale
                </a>
            </div>
        }

        @RenderSection("pageTitle", false)
    </div>

    @RenderSection("pageSubtitle", false)
    @RenderBody()
</div>

@section googlehead {
    @* Google Analytics (opzionale) *@
}

@section scripts {
    <script type="text/javascript">
        @this.RenderAlertsWithToastify()

        // Chiude il menu mobile al click su qualsiasi link o bottone
        document.addEventListener('DOMContentLoaded', function () {
            const navbarCollapse = document.getElementById('navbarSupportedContent');
            const navLinks = navbarCollapse.querySelectorAll('a, button');

            navLinks.forEach(function (link) {
                link.addEventListener('click', function () {
                    if (window.innerWidth < 992) {
                        const bsCollapse = bootstrap.Collapse.getInstance(navbarCollapse);
                        if (bsCollapse) {
                            bsCollapse.hide();
                        }
                    }
                });
            });
        });
    </script>

    @RenderSection("scripts", false)
}
